.stock-transfer {
    .widefat {
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2) {
            width: 44px;
        }

        thead tr th:nth-child(3),
        tbody tr td:nth-child(3) {
            width: 109px;
        }

        thead tr th:nth-child(4),
        tbody tr td:nth-child(4) {
            width: 92px;
        }
    }
}
