.stock-transfer .widefat thead tr th:nth-child(2),
.stock-transfer .widefat tbody tr td:nth-child(2) {
  width: 44px; }
.stock-transfer .widefat thead tr th:nth-child(3),
.stock-transfer .widefat tbody tr td:nth-child(3) {
  width: 109px; }
.stock-transfer .widefat thead tr th:nth-child(4),
.stock-transfer .widefat tbody tr td:nth-child(4) {
  width: 92px; }

/*# sourceMappingURL=stock-transfer.css.map */
